body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#login-form, #update-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 8px; /* Reduce padding */
    margin-bottom: 8px; /* Reduce margin */
    border: 1px solid #ccc;
    border-radius: 3px; /* Reduce border-radius */
    font-size: 14px; /* Reduce font size */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: bottom;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}

.error {
    color: #f00;
}