body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
    color: #333;
}

#login-form, #delete-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 90px;
    border: 3px solid #172768;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}

/* Style the login button differently */
#login-button {
    background-color: #28a745;
}

/* Style the delete button differently */
#delete-form button {
    background-color: #dc3545;
}