#toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #eye-icon,
  #eye-icon-off {
    font-size: 20px;
    color: #555;
    transition: color 0.3s, font-size 0.3s;
  }
  
  #eye-icon-off {
    display: none;
    font-size: 24px; /* Increase the size of the closed eye icon */
  }
  
  /* Toast container styles */
  /* Toast container styles */
  .toast-container {
  position: fixed;
  top: 60px;
  right: 150px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  align-items: center;
  width: 500px;
  height: 70px;
  max-width: 900px; /* Adjust the max-width as needed */
  }
  
  /* Icon styles */
  .js-toast-img {
  margin-right: 10px; /* Adjust the margin as needed */
  height: 30px;
  width: 30px;
  align-items: center;
  margin-top: -8px;
  }
  
  /* Toast title styles */
  .js-toast-title {
  font-weight: bold;
  font-size:17px;
  margin-right: 15px;
  align-items: center;
  }
  
  /* Toast content styles */
  .js-toast-content {
  margin-top: 5px; /* Adjust the margin as needed */
  margin-right: 15px;
  align-items: center;
  font-size: 15px;
  }
  
  /* Close icon styles (assuming close icon is present) */
  .js-icon-close {
  cursor: pointer;
  margin-left: auto;
  align-items: center;
  }
  
  /* Add more styles as needed */
  .toast-container.danger-color {
  background-color: #ff6347; /* Tomato color for danger */
  }
  
  .toast-container.info-color {
  background-color: #87ceeb; /* SkyBlue color for info */
  }
  
  .toast-container.warning-color {
  background-color: #ffd700; /* Gold color for warning */
  }
  
  .toast-container.success-color {
  background-color: #32cd32; /* LimeGreen color for success */
  }
  